:root {
  --tip: "Tip";
  --reminder: "Reminder";
  --role: "Who can do this?";
  --warning: "Warning";
  --caution: "Caution";
  --note: "Note";
  --correction-note: "Correction";
  --beta: "Beta feature";
  --more: "Find out more";
  --dev-docs: "Looking for the developer docs?";
  --lead-time: "Recommended lead time";
  --multi-banner: "Multi-banner enabled";
  --important: "Important";
  --minitoc: "On this page";
  --deprecated: "deprecated";
}
